<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head th:replace="fragments :: head"></head>
  <link rel="stylesheet" type="text/css" href="/css/tree.css" />
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <body>
    <nav th:replace="fragments :: navbar"></nav>

    <br />

    <nav>
      <a href="../person">ABOUT ME</a>
      <a href="../tree">TREE</a>
      <a href="../search">FIND</a>
      <a href="../forum">RECENT UPDATES</a>
      <a href="../notifications">MY UPDATES</a>
    </nav>

    <br />
    <div id="treeArea"></div>
    <br />

    <div id="treeControlsArea">
      <button onclick="zoomIn()">Zoom In ➕</button>
      <button onclick="zoomOut()">Zoom Out ➖</button>
      <button onclick="resetView()">Reset View ✴️️</button>
      <button onclick="panUp()">Pan Up ⬆️</button>
      <button onclick="panDown()">Pan Down ⬇️</button>
      <button onclick="panLeft()">Pan Left ⬅️</button>
      <button onclick="panRight()">Pan Right ➡️</button>

    </div>

    <p>Add person?</p>

    <footer th:replace="fragments :: footer"></footer>

    <script src="/js/tree.js"></script>
  </body>
</html>
