<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/tree.css">
<script src="https://d3js.org/d3.v7.min.js"></script>
<body>

    <nav th:replace = "fragments :: navbar"></nav>

    <br />

    <nav>
        <a href = "../person">ABOUT ME</a>
        <a href = "../tree">TREE</a>
        <a href = "../search">FIND</a>
        <a href = "../forum">RECENT UPDATES</a>
        <a href = "../notifications">MY UPDATES</a>
    </nav>

    <br>
    <div id="treeArea"></div>
    <br>

    <div id="treeControlsArea">
        <button onclick="zoomIn()">Zoom in</button>
        <button onclick="zoomOut()">Zoom out</button>
        <button onclick="resetZoom()">Reset zoom</button>
        <button onclick="panLeft()">Pan left</button>
        <button onclick="panRight()">Pan right</button>
        <button onclick="center()">Center</button>
    </div>

    <p>Add person?</p>

    <footer th:replace = "fragments :: footer"></footer>

    <script src="/js/tree.js"></script>
</body>
</html>