body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
footer{
    margin-top: auto;
}
.footerfix {
    height:4rem;
}
.nav-link:hover {
  color: #f68b1f;
}
.container {
max-width: 100%;
padding: 0;
}
.myphotodiv {
width: 100%;
max-width: 100%;

}
.myphotoimg {
width: 100%;
}
.btn {
	padding: 10px 20px 8px 20px;
	background-color: #074560;
	font-size: 16px;
	font-weight: 600;
	border-radius: 30px;
    display: inline-block;

}
.btn:hover{
	background: #f68b1f;

}
.myphotodiv-secondary {
width: 100%;
max-width: 25%;

}



