#toZoom {
  fill: none;
  stroke: black;
  stroke-width: 5;
}
#treeArea {
  display: flex;
  justify-content: center;
}
#treeControlsArea {
  display: flex;
  justify-content: center;
}

.personCard {
  fill: white;
  stroke: black;
  width: 275px;
  height: 110px;
  stroke-width: 3;
}

.personTreeCardLink {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

path {
  fill: none;
  stroke: brown;
  stroke-width: 2;
}
text {
  fill: green;
  /* dominant-baseline: middle; */
  text-anchor: middle;
}
.hide {
  visibility: hidden;
}
