#toZoom {
  fill: none;
  stroke: black;
  stroke-width: 5;
}
#treeArea {
  display: flex;
  justify-content: center;
}
#treeControlsArea {
  display: flex;
  justify-content: center;
}
.personCard {
  fill: white;
  stroke: rgb(9,68,96);
  width: 275px;
  height: 110px;
  stroke-width: 3;
}
.personTreeCardLink {
  color: rgb(9,68,96);
  text-decoration: inherit;
  font-weight: inherit;
}
path {
  fill: none;
  stroke: rgb(37,170,126);
  stroke-width: 3;
}
text {
  fill: green;
  /* dominant-baseline: middle; */
  text-anchor: middle;
}
.hide {
  visibility: hidden;
}