<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment = "head">
    <meta charset="UTF-8"/>
    <title th:text = "${title}">Roots to Crown</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script type = "text/javascript" th:src="@{js/script.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>

<!-- NAVBAR FRAGMENT -->
    <nav th:fragment = "navbar" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a href="#" class="navbar-brand">From Root to Crown</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href = "/" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href = "/tree" class="nav-link">FAMILY TREE</a>
                    </li>
                    <li class="nav-item">
                        <a href = "/search" class="nav-link">SEARCH</a>
                    </li>
                    <li class="nav-item">
                        <a href = "/forum" class="nav-link">FORUM</a>
                    </li>
                    <li class="nav-item">
                        <a href = "/notifications" class="nav-link">NOTIFICATIONS</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <button type="button" class="btn btn-secondary">LOGIN/REGISTER</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!-- FOOTER FRAGMENT -->
    <footer th:fragment = "footer" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a href="#"></a>
            <div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#aboutModal" class="nav-link">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#policyModal" class="nav-link">PRIVACY POLICY</a>
                    </li>
                    <li class="nav-item">
                        <a href ="" class="nav-link">COPYRIGHT &copy; 2023 THE SAPLINGS</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- add modals content -->
        <div th:replace="modals.html :: about"></div>
        <div th:replace="modals.html :: policy"></div>
    </footer>

</body>
</html>