
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <table class="tree-listing">
    <tr th:each="tree : ${trees}">
      <td>
        <p>
          Tree Id:
          <a th:href="@{'/view/' + ${tree.id}}" th:text="${tree.id}"></a>
        </p>
        <p th:text="${'Name: ' + tree.name}"></p>
        <p>
          Branch:
          <a th:href="@{'/branches/view/' + ${tree.branch.id}}" th:text="${tree.branch.name}"></a>
        </p>
      </td>
    </tr>
  </table>

</div>

</body>
</html>