<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
  <h2 class = "centered">View Families By Persons</h2>
</div>

<table class="centeredTable">
  <tr>
    <th>All</th>
    <th>Person</th>
  </tr>

  <tr>
    <td>
      <li>
        <a th:href="@{/list/families(column='All',value='View All')}">View All</a>
      </li>
    </td>
    <td>
      <li th:each="person : ${persons}">
        <a th:href="@{/list/families(column=person,value=${person.name})}" th:text="${person.name}"></a>
      </li>
    </td>
  </tr>
</table>

</body>
</html>