<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace = "fragments :: navbar"></nav>

<section class="p-5">
    <div class="container">
        <div class="row text-center justify-content-center">
                <div class="card bg-tertiary" style="margin-top:30px; width:500px;">
                    <div class="card-body text-center">
                        <form method="post">
                            <div class="form-group">
                                <label th:for="username">Username
                                    <input class="form-control" th:field="${loginFormDTO.username}">
                                </label>
                                <p class="error" th:errors="${loginFormDTO.username}"></p>
                            </div>
                            <div class="form-group">
                                <label>Password
                                    <input class="form-control" th:field="${loginFormDTO.password}" type="password">
                                </label>
                                <p class="error" th:errors="${loginFormDTO.password}"></p>
                            </div>

                            <input type="submit" class="btn btn-secondary my-2" value="LOG IN" />
                        </form>
                       <span>Don't have an account?</span> <span><a href = "/register" class="btn btn-secondary">REGISTER</a></span>
                    </div>
                </div>
        </div>
    </div>
</section>

<div th:replace="fragments :: footerfix"></div>
<footer th:replace = "fragments :: footer"></footer>

</body>
</html>
