
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: page-header"></nav>

<body class="container  body-content">
<h1 th:text="${'Family: ' + family.name}">Default Title</h1>



<div class="family-listing">
  <p th:text="${'ID: ' + family.id}"></p>
  <p th:text="${'Name: ' + family.name}"></p>
  <p>
    Person: <a th:href="@{'/person/view/' + ${family.person.id}}" th:text="${family.person.name}"></a>
  </p>
</div>


</body>
</html>