<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class="container">
<nav th:replace = "fragments :: navbar"></nav>

<div class="container body-content">
    <h2>People in My Family Tree</h2>
    <ul>
        <li th:each="person : ${persons}">
            <a th:href="@{'/person/view/' + ${person.id}}" th:text="${person.firstName} + ' ' + ${person.lastName}"></a>
        </li>
    </ul>
    <a th:href="@{'/person/add'}">Add Person</a>
</div>


<footer th:replace = "fragments :: footer"></footer>

</body>
</html>