<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body>

<nav th:replace = "fragments :: navbar"></nav>

<section class="bg-dark text-light p-5 text-center text-sm-start">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Person Name</h5>
                <p class="card-text text-dark">Person brief bio. Person brief bio. Person brief bio. Person brief bio. Person brief bio. Person brief bio.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<!--    <div class="d-flex flex-row mb-3">-->
<!--        <div class="p-2">Name</div>-->
<!--        <div class="p-2">Uploads</div>-->
<!--    </div>-->
    <div class="d-flex flex-row mb-3 justify-content-evenly" >
        <h3 class="p-2">Bio</h3>
        <h3 class="p-2">Family Members</h3>
    </div>
    <button class="btn btn-primary btn-sm">
        Edit
    </button>
    <button class="btn btn-primary btn-sm">
        Update
    </button>
<!--<p>Important Dates</p>-->
<!--<p>Latest Changes</p>-->
</section>

<footer th:replace = "fragments :: footer"></footer>

</body>
</html>